@charset "UTF-8";
.grid, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-auto, .grid-sm, .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-md, .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, .grid-lg, .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12, .grid-xl, .grid-xl-1, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-10, .grid-xl-11, .grid-xl-12 {
  width: 100%;
  position: relative;
}

.grid-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  max-width: 100%;
}

.grid-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.grid-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.grid-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.grid-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.grid-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.grid-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.grid-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.grid-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.grid-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.grid-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.grid-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.grid-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.grid-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .grid-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .grid-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .grid-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .grid-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .grid-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .grid-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .grid-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .grid-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .grid-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid-xl {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .grid-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .grid-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .grid-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .grid-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .grid-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .grid-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .grid-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .grid-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .grid-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.radius-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.radius-left-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

@media (min-width: 768px) {
  .font-xl {
    font-size: 46pt;
  }
  .font-lg {
    font-size: 40pt;
  }
  .font-h1 {
    font-size: 34pt;
  }
  .font-h2 {
    font-size: 32pt;
  }
  .font-h3 {
    font-size: 28pt;
  }
  .font-h4 {
    font-size: 24pt;
  }
  .font-h5 {
    font-size: 20pt;
  }
  .font-h6 {
    font-size: 18pt;
  }
}

@media (max-width: 767px) {
  .font-xl {
    font-size: 40pt;
  }
  .font-lg {
    font-size: 34pt;
  }
  .font-h1 {
    font-size: 30pt;
  }
  .font-h2 {
    font-size: 26pt;
  }
  .font-h3 {
    font-size: 24pt;
  }
  .font-h4 {
    font-size: 21pt;
  }
  .font-h5 {
    font-size: 18pt;
  }
  .font-h6 {
    font-size: 16pt;
  }
}

@media (max-width: 575px) {
  .font-xl {
    font-size: 32pt;
  }
  .font-lg {
    font-size: 28pt;
  }
  .font-h1 {
    font-size: 26pt;
  }
  .font-h2 {
    font-size: 22pt;
  }
  .font-h3 {
    font-size: 20pt;
  }
  .font-h4 {
    font-size: 18pt;
  }
  .font-h5 {
    font-size: 16pt;
  }
  .font-h6 {
    font-size: 14pt;
  }
}

.table-item:not(.no-overhide) td, .table-item:not(.no-overhide) p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0d0d0d;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-track-piece {
  background-color: #d9d9d9;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece:hover {
  background-color: #e6e6e6;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Arial, '微軟正黑體' !important;
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none !important;
}

a {
  -webkit-transition: background .25s ease-in-out, color .25s ease-in-out;
  transition: background .25s ease-in-out, color .25s ease-in-out;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal-title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
  }
  .modal-body {
    height: 100%;
  }
}

span.btn.disabled {
  opacity: 1;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

table {
  width: 100% !important;
}

.table-hover tbody tr {
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}

.table-item::-webkit-scrollbar {
  height: 5px;
}

.table-item:not(:last-child) {
  margin-bottom: 1rem;
}

.table-item:not(.no-overhide) {
  width: 100%;
  overflow-x: auto;
}

.table-item:not(.no-overhide) td, .table-item:not(.no-overhide) p {
  max-width: 300px;
}

@media (max-width: 575px) {
  .table-item:not(.no-overhide) td, .table-item:not(.no-overhide) p {
    max-width: 150px;
  }
}

.table-item:not(.no-overhide) th, .table-item:not(.no-overhide) td {
  white-space: nowrap;
  vertical-align: middle;
}

.table-item .table thead th {
  border-bottom: 1px solid transparent;
}

.table-item .table tbody tr:not(:last-child) {
  border-bottom: 1px solid transparent;
}

.table-item .table .table-picture {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-control-label::before, .custom-control-label::after {
  top: 0;
}

.loading-wrap {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
  z-index: 1000;
  position: fixed;
}

* p {
  line-height: 1.4;
}

* .swiper_photo {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  max-height: 300px;
}

* .banner_photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

* .banner_photo_phone {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 215px;
}

*.zoomImg {
  pointer-events: none;
}

.fa-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 39px;
  z-index: 99;
  color: #a1581d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fa-arrow-up:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gsc-selected-option {
  word-break: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-position: center;
  background-repeat: repeat;
  background-size: unset;
  background-image: url("../images/bg/bg2.png");
}

.search_computer, .del_a {
  cursor: default;
}

.breadcrumb {
  border-radius: 0;
  padding: .75rem 0;
  margin-bottom: 0;
  background: none;
  border-bottom: 2px solid #a1581d;
}

.breadcrumb .breadcrumb-item {
  font-size: 80%;
}

.breadcrumb .breadcrumb-item a {
  color: #a1581d;
}

.web-detail {
  min-height: 100vh;
  margin-top: 162px;
}

@media (max-width: 991px) {
  .web-detail {
    margin-top: 55px !important;
  }
}

.web-detail .banner {
  -webkit-transform: unset !important;
          transform: unset !important;
}

.web-detail .item-image {
  position: relative;
  padding-bottom: 77.77%;
}

.web-detail .item-image.large {
  padding-bottom: 133.77%;
}

.web-detail .item-image img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.web-detail .swiper-slide img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.web-detail .swiper-slide .swiper_photo {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.web-detail .swiper-slide:hover img {
  -webkit-transform: scale(1.05) translate(-50%, -50%);
          transform: scale(1.05) translate(-50%, -50%);
}

.web-detail .swiper-slide:hover .swiper_photo {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.web-detail .swiper-slide .FeaturedWorks {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  max-height: 600px;
}

.web-detail .swiper-pagination-bullet-active {
  background-color: #f1e9e1 !important;
}

.web-detail .swiper-button-next {
  color: #a1581d;
}

.web-detail .swiper-button-prev {
  color: #a1581d;
}

.web-detail .container.index {
  overflow: hidden;
}

.web-detail .container.index .more {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 15px;
  display: inline-block;
}

.web-detail .container.index .more:hover {
  color: #a1581d;
}

.web-detail .container.index > .row:nth-child(1) .col-12:nth-child(1) p {
  font-size: 30px;
}

.web-detail .container.index > .row:nth-child(1) #temple_name {
  font-size: 16px;
  font-weight: 900;
}

.web-detail .container.index .row:nth-child(4) #message_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.web-detail .container.index .row:nth-child(4) .footer_btn h4 {
  font-size: 24px;
  font-weight: 900;
}

.web-detail .container.index .row:nth-child(4) .footer_btn p {
  font-size: 18px;
}

.web-detail .container-fluid.index .creation .col-12 {
  position: relative;
}

.web-detail .container-fluid.index .creation .col-12 .home-creation-title {
  top: 0;
  left: 0;
  position: absolute;
}

.web-detail .container-fluid.index .creation .col-12 div {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.web-detail .container-fluid.index .creation .col-12 div a {
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.web-detail .container-fluid.index .creation .col-12 div a:hover {
  color: #a1581d;
}

@media (max-width: 991px) {
  .web-detail .container-fluid.index .creation .col-12 div {
    top: 50%;
    left: 30%;
  }
  .web-detail .container-fluid.index .creation .col-12 div p {
    font-size: 12px !important;
  }
}

.web-detail .container-fluid {
  padding: 0;
}

.web-detail .news-wrap .more {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: right;
  margin-top: 15px;
  display: inline-block;
}

.web-detail .news-wrap .more:hover {
  color: #a1581d;
}

.web-detail .news-wrap .row > .col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.web-detail .news-wrap .news-other {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web-detail .news-wrap .news-other > * {
  width: 100%;
}

.web-detail .news-wrap .news-other .news-other-images {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  max-width: 300px;
}

.web-detail .news-wrap .news-other .news-other-detail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 315px);
          flex: 0 0 calc(100% - 315px);
  max-width: calc(100% - 315px);
}

.web-detail .news-wrap .news-other .news-other-detail > *:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .web-detail .news-wrap .news-other > * {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .web-detail .news-wrap .news-other > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.web-detail .news-wrap .page-item a {
  color: #a1581d;
}

.web-detail .news-wrap .news_video_swiper {
  margin-top: 0;
}

.web-detail .about-wrap > *:not(:last-child) {
  margin-bottom: 3rem;
}

.web-detail .about-wrap .about-list > p, .web-detail .about-wrap .about-list h6 {
  line-height: 1.4;
}

.web-detail .about-wrap .about-list > *:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .web-detail .contact_container button {
    width: 100%;
  }
}

.web-detail .contact_container .form-info {
  line-height: 30px;
}

.web-detail .proitem-wrap .detail-sort footer {
  font-size: 100%;
}

.web-detail .proitem-wrap .carousel-item .lightcase-item {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 77.77%;
}

.web-detail .proitem-wrap .carousel-item .lightcase-item img {
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.web-detail .proitem-wrap .thumbnail-wrap {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #a1581d;
}

.web-detail .proitem-wrap .thumbnail-wrap .thumbnail-list {
  width: 50px;
  cursor: pointer;
  margin-bottom: .1rem;
  display: inline-block;
  border: 1px solid #000000;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

.web-detail .proitem-wrap .thumbnail-wrap .thumbnail-list .thumbnail {
  position: relative;
  padding-bottom: 75%;
}

.web-detail .proitem-wrap .thumbnail-wrap .thumbnail-list .thumbnail img {
  top: 50%;
  left: 50%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.web-detail .proitem-wrap .thumbnail-wrap .thumbnail-list:hover, .web-detail .proitem-wrap .thumbnail-wrap .thumbnail-list.active {
  border-color: #a1581d;
}

.web-detail .proitem-wrap .proitem-detail {
  padding: 2rem;
}

@media (max-width: 767px) {
  .web-detail .proitem-wrap .proitem-detail {
    padding: 1rem;
  }
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort:not(:last-child), .web-detail .proitem-wrap .proitem-detail .proitem-sort > *:not(:last-child) {
  padding-bottom: .75rem;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort > h2 ~ p {
  font-size: 90%;
  margin-top: -5px;
  font-weight: bold;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort.price {
  padding-top: 1rem;
  margin-top: .5rem;
  border-top: 1px solid #dee2e6;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-title {
  font-size: 95%;
  overflow: hidden;
  font-style: italic;
  text-align: center;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-title span {
  padding: 0 1rem;
  position: relative;
  color: #a1581d;
  display: inline-block;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-title span::before {
  content: '';
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #a1581d;
  left: 100% !important;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-title span::after {
  content: '';
  top: 50%;
  left: auto;
  right: auto;
  width: 50vw;
  position: absolute;
  border-top: 1px solid #a1581d;
  right: 100% !important;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item {
  font-size: 95%;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item > *:not(:last-child) {
  margin-bottom: .25rem;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item > p {
  font-weight: bold;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item:not(:last-child) {
  margin-bottom: .5rem;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .sort-kind > * {
  margin-right: .15rem;
  margin-bottom: .1rem;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .sort-kind .thumbnail-list {
  cursor: pointer;
  padding: 3px 8px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-color: #d9d9d9;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .sort-kind .thumbnail-list:hover, .web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .sort-kind .thumbnail-list.active {
  color: #ffffff;
  background-color: #f1e9e1;
  border-color: #d9d9d9;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .discount-content {
  padding: 1rem;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .discount-content li {
  font-size: 95%;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .discount-content li:not(:last-child) {
  margin-bottom: .75rem;
  border-bottom: 1px black solid;
}

.web-detail .proitem-wrap .proitem-detail .proitem-sort .sort-item .discount-content li p {
  font-size: 20px;
}

.web-detail .proitem-wrap .proitem-info {
  margin-top: 3rem;
}

.web-detail .proitem-wrap .proitem-info h4 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #a1581d;
}

.web-detail .proitem-wrap .proitem-info .info-list > *:not(:last-child) {
  margin-bottom: 1rem;
}

.web-detail .proitem-wrap .proitem-recommend {
  padding-top: 5rem;
}

.web-detail .proitem-wrap .proitem-recommend h5 {
  font-weight: bold;
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  display: inline-block;
  border-bottom: 3px solid #a1581d;
}

.web-detail .proitem-wrap .proitem-recommend .owl-nav {
  text-align: right;
  padding-top: 1.5rem;
  border-top: 1px solid #dee2e6;
}

.web-detail .proitem-btn {
  margin-left: -10px;
  margin-right: -10px;
}

.web-detail .proitem-btn > [class*="col"] {
  padding-left: 10px;
  padding-right: 10px;
}

.web-detail .proitem-btn > [class*="col"] svg {
  top: 1px;
  position: relative;
}

@media (max-width: 575px) {
  .web-detail .proitem-btn {
    margin-left: -5px;
    margin-right: -5px;
  }
  .web-detail .proitem-btn > [class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.web-detail .product-sort-wrap .detail-sort {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 1rem;
}

@media (max-width: 767px) {
  .web-detail .product-sort-wrap .detail-content > .row > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.web-detail .product-sort-wrap .product-sort-list {
  overflow: hidden;
}

.web-detail .product-sort-wrap .product-sort-list a {
  color: #000000;
  display: block;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  padding: 6rem 3rem;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.web-detail .product-sort-wrap .product-sort-list a span {
  position: relative;
  padding: .35rem .5rem;
  display: inline-block;
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
}

.web-detail .product-sort-wrap .product-sort-list a::before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}

.web-detail .product-sort-wrap .product-sort-list a:hover {
  color: #ffffff;
}

.web-detail .product-sort-wrap .product-sort-list a:hover span {
  background-color: rgba(241, 233, 225, 0.8);
}

.web-detail .product-sort-wrap .product-sort-list a:hover::before {
  width: 0;
}

.web-detail .map {
  margin-top: 20px;
  background-color: #a1581d;
}

.web-detail .map p {
  padding: 10px 0;
  font-weight: 900;
  font-size: 16px;
  color: wheat;
}

.web-detail .map .map_type {
  background-color: #906a43;
}

.web-detail .map .map_type p {
  background-color: #7a3f0e;
  padding: 0;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .scroll-hide {
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .mask-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .mask-backdrop.mask-show {
    opacity: 1;
    z-index: 100;
  }
}

input.form-control, button.btn, select.form-control, textarea.form-control {
  border-radius: 0 !important;
}

input.form-control:focus, button.btn:focus, select.form-control:focus, textarea.form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #a1581d !important;
}

#header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-image: url("../images/bg/bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}

@media (max-width: 991px) {
  #header {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

@media (min-width: 992px) {
  #header.header-scroll .logo-wrap {
    padding-top: .25rem;
  }
  #header.header-scroll .logo-wrap img {
    max-width: 300px !important;
  }
  #header.header-scroll .menu-list > a:not(.search_computer):not(.search-product-btn) {
    font-size: 95%;
    padding: .75rem 1.5rem !important;
  }
}

#header .search_computer {
  padding: .75rem 1rem .75rem 0 !important;
}

#header .search_computer input {
  background-clip: border-box;
}

#header .search-product-btn.pc {
  padding: 0 !important;
}

#header::before {
  z-index: -1;
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  background-image: url("../images/headertotem.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

#header .logo-wrap {
  position: relative;
}

@media (min-width: 992px) {
  #header .logo-wrap {
    padding-top: 1.5rem;
    -webkit-transition: padding .25s ease-in-out;
    transition: padding .25s ease-in-out;
  }
}

#header .logo-wrap > .container > .grid-wrap {
  width: 100%;
  text-align: center;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: .75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header .logo-wrap > .container > .grid-wrap .grid > *:not(:last-child) {
  margin-bottom: .5rem;
}

#header .logo-wrap > .container > .grid-wrap .grid .pc-search svg {
  cursor: pointer;
}

#header .logo-wrap > .container > .grid-wrap img {
  width: 100%;
  max-width: 500px;
  -webkit-transition: max-width .4s ease-in-out;
  transition: max-width .4s ease-in-out;
}

#header .logo-wrap > .container > .grid-wrap > svg {
  display: none;
}

@media (max-width: 991px) {
  #header .logo-wrap > .container > .grid-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
    line-height: 55px;
  }
  #header .logo-wrap > .container > .grid-wrap img {
    max-width: 300px;
  }
  #header .logo-wrap > .container > .grid-wrap input {
    display: none;
  }
  #header .logo-wrap > .container > .grid-wrap svg {
    cursor: pointer;
    display: inline-block;
  }
  #header .logo-wrap > .container > .grid-wrap .grid {
    padding: 0 1.5rem;
  }
}

#header .menu-item {
  position: relative;
}

@media (min-width: 992px) {
  #header .menu-item::before, #header .menu-item::after {
    top: 0;
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #b0a4a0;
  }
  #header .menu-item::before {
    left: .5rem;
  }
  #header .menu-item::after {
    right: .5rem;
  }
}

#header .menu-item .mobile-search {
  padding: 1rem;
  background-color: #f1e9e1;
}

@media (min-width: 992px) {
  #header .menu-item {
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    background-image: url("../images/menubox-center.png");
  }
}

@media (max-width: 991px) {
  #header .menu-item {
    top: 100%;
    left: -250px;
    width: 250px;
    max-width: 100%;
    overflow-y: auto;
    position: absolute;
    -webkit-transition: left .4s ease-in-out;
    transition: left .4s ease-in-out;
    background-color: #4b290d;
    max-height: calc(100vh - 55px);
  }
  #header .menu-item > .container {
    padding: 0;
  }
  #header .menu-item > .container .menu-list:not(:last-child) {
    border-bottom: 1px solid #f1e9e1;
  }
  #header .menu-item.open {
    left: 0;
  }
  #header .menu-item::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  #header .menu-item::-webkit-scrollbar-thumb {
    background-color: #a1581d;
  }
  #header .menu-item::-webkit-scrollbar-thumb:hover {
    background-color: #de8a46;
  }
  #header .menu-item .menu-list > a span {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 100%;
    padding-right: .25rem;
  }
}

#header .menu-item .menu-list {
  position: relative;
}

#header .menu-item .menu-list a {
  display: block;
  line-height: 1.4;
}

#header .menu-item .menu-list > a {
  color: #f1e9e1;
  padding: 1.5rem 2rem;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#header .menu-item .menu-list > a:hover {
  color: #d1b69b;
}

@media (max-width: 991px) {
  #header .menu-item .menu-list > a {
    padding: .75rem 1rem;
  }
}

#header .menu-item .menu-list .menu-sort {
  z-index: 99;
}

#header .menu-item .menu-list ul {
  display: none;
  overflow-y: auto;
  max-height: 300px;
}

#header .menu-item .menu-list ul::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

@media (min-width: 992px) {
  #header .menu-item .menu-list ul {
    top: 90%;
    left: 50%;
    width: 160px;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header .menu-item .menu-list ul li a {
    text-align: center;
  }
}

#header .menu-item .menu-list ul li a {
  font-size: 95%;
  color: #a1581d;
  padding: .5rem 1rem;
  background-color: #f1e9e1;
}

#header .menu-item .menu-list ul li a:hover {
  color: #ffffff;
  background-color: #c8a98a;
}

@media (max-width: 991px) {
  #header .menu-item .menu-list ul li a {
    color: #ffffff;
    background-color: #8b4c19;
  }
  #header .menu-item .menu-list ul li a:hover {
    background-color: #764015;
  }
}

#footer {
  overflow: hidden;
  margin-top: 3rem;
  position: relative;
}

@media (min-width: 576px) {
  #footer::before {
    top: 20px;
    z-index: -1;
    opacity: .7;
    content: '';
    width: 250px;
    height: 250px;
    left: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/footer_bg.png");
  }
  #footer::after {
    top: 20px;
    z-index: -1;
    opacity: .7;
    content: '';
    width: 250px;
    height: 250px;
    right: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/footer_bg.png");
  }
}

#footer .footer-info a {
  font-size: 14px;
}

#footer .footer-detail {
  padding: 2rem 0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
}

#footer .footer-detail a {
  color: #000000;
}

#footer .footer-detail a:hover {
  color: #333333;
}

#footer .footer-detail .footer-data li:not(:last-child) {
  margin-bottom: .75rem;
}

#footer .footer-detail .footer-link > *:not(:last-child) {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  #footer .footer-detail .footer-link > .row, #footer .footer-detail .footer-link .footer-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#footer .footer-detail .footer-link .footer-icon {
  text-align: center;
  padding-top: .5rem;
  border-top: 2px solid #a1581d;
}

#footer .footer-detail .footer-link .footer-icon > * {
  margin: .5rem;
}

#footer .footer-detail .footer-link .footer-icon > * a {
  color: #4b290d;
}

#footer .footer-detail .footer-link .footer-icon > * a:hover {
  color: #764015;
}

#footer .footer-detail .copyright {
  margin-top: 1rem;
}

#footer .footer-detail .copyright > *:not(:last-child) {
  margin-bottom: .5rem;
}

@media (max-width: 767px) {
  #footer .footer-detail .copyright {
    text-align: center;
  }
}

.btn-main {
  border-color: #f1e9e1;
  background-color: #f1e9e1;
  color: #000;
}

.btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active, .show > .btn-main.dropdown-toggle {
  background-color: #d9c3ad;
  color: #000;
}

.btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus, .show > .btn-main.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-main:focus, .btn-main.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-main.disabled, .btn-main:disabled {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #000;
}

.btn-main:hover, .btn-main:active, .btn-main.active {
  color: #000;
}

.btn-main:hover:not(:disabled):not(.disabled), .btn-main:active:not(:disabled):not(.disabled), .btn-main.active:not(:disabled):not(.disabled) {
  border-color: #d9c3ad;
  background-color: #d9c3ad;
}

.btn-outline-main {
  color: #f1e9e1;
  border-color: #f1e9e1;
}

.btn-outline-main:not(:disabled):not(.disabled):active, .btn-outline-main:not(:disabled):not(.disabled).active, .show > .btn-outline-main.dropdown-toggle {
  background-color: #d9c3ad;
  color: #000;
}

.btn-outline-main:not(:disabled):not(.disabled):active:focus, .btn-outline-main:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-main.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-main:focus, .btn-outline-main.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-main.disabled, .btn-outline-main:disabled {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #f1e9e1;
}

.btn-outline-main:hover:not(:disabled):not(.disabled), .btn-outline-main:active:not(:disabled):not(.disabled), .btn-outline-main.active:not(:disabled):not(.disabled) {
  background-color: #f1e9e1;
  color: #000;
}

.text-main {
  color: #f1e9e1;
}

a.text-main, button.text-main {
  color: #f1e9e1;
}

a.text-main:hover, a.text-main:active, a.text-main.active, button.text-main:hover, button.text-main:active, button.text-main.active {
  color: #d9c3ad;
}

a.text-main:focus, button.text-main:focus {
  color: #d9c3ad;
}

a.text-main.disabled, button.text-main.disabled {
  cursor: default;
  color: white;
}

.bg-main {
  background-color: #f1e9e1;
  color: #000;
}

.bg-gradual-main {
  background-image: -webkit-gradient(linear, left bottom, left top, from(white), to(#f9f6f2));
  background-image: linear-gradient(to top, white 0%, #f9f6f2 100%);
}

.scroll-main::-webkit-scrollbar-thumb {
  background-color: white;
}

.scroll-main::-webkit-scrollbar-thumb:hover {
  background-color: #d9c3ad;
}

.scroll-main::-webkit-scrollbar-button {
  background-color: #d9c3ad;
  display: none;
}

.form-main {
  border: 1px solid #f1e9e1;
  background-color: #f1e9e1;
  color: #000;
  -webkit-transition: color .4s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
  transition: color .4s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
}

.form-main:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #d9c3ad;
  background-color: #d9c3ad;
  color: #000;
}

.btn-minor {
  border-color: #a1581d;
  background-color: #a1581d;
  color: #fff;
}

.btn-minor:not(:disabled):not(.disabled):active, .btn-minor:not(:disabled):not(.disabled).active, .show > .btn-minor.dropdown-toggle {
  background-color: #603511;
  color: #fff;
}

.btn-minor:not(:disabled):not(.disabled):active:focus, .btn-minor:not(:disabled):not(.disabled).active:focus, .show > .btn-minor.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
}

.btn-minor:focus, .btn-minor.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
}

.btn-minor.disabled, .btn-minor:disabled {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #fff;
}

.btn-minor:hover, .btn-minor:active, .btn-minor.active {
  color: #fff;
}

.btn-minor:hover:not(:disabled):not(.disabled), .btn-minor:active:not(:disabled):not(.disabled), .btn-minor.active:not(:disabled):not(.disabled) {
  border-color: #603511;
  background-color: #603511;
}

.btn-outline-minor {
  color: #a1581d;
  border-color: #a1581d;
}

.btn-outline-minor:not(:disabled):not(.disabled):active, .btn-outline-minor:not(:disabled):not(.disabled).active, .show > .btn-outline-minor.dropdown-toggle {
  background-color: #603511;
  color: #fff;
}

.btn-outline-minor:not(:disabled):not(.disabled):active:focus, .btn-outline-minor:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-minor.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
}

.btn-outline-minor:focus, .btn-outline-minor.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(218, 124, 49, 0.5);
}

.btn-outline-minor.disabled, .btn-outline-minor:disabled {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #a1581d;
}

.btn-outline-minor:hover:not(:disabled):not(.disabled), .btn-outline-minor:active:not(:disabled):not(.disabled), .btn-outline-minor.active:not(:disabled):not(.disabled) {
  background-color: #a1581d;
  color: #fff;
}

.text-minor {
  color: #a1581d;
}

a.text-minor, button.text-minor {
  color: #a1581d;
}

a.text-minor:hover, a.text-minor:active, a.text-minor.active, button.text-minor:hover, button.text-minor:active, button.text-minor.active {
  color: #603511;
}

a.text-minor:focus, button.text-minor:focus {
  color: #603511;
}

a.text-minor.disabled, button.text-minor.disabled {
  cursor: default;
  color: #da7c31;
}

.bg-minor {
  background-color: #a1581d;
  color: #fff;
}

.bg-gradual-minor {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e6a571), to(#b76421));
  background-image: linear-gradient(to top, #e6a571 0%, #b76421 100%);
}

.scroll-minor::-webkit-scrollbar-thumb {
  background-color: #da7c31;
}

.scroll-minor::-webkit-scrollbar-thumb:hover {
  background-color: #603511;
}

.scroll-minor::-webkit-scrollbar-button {
  background-color: #603511;
  display: none;
}

.form-minor {
  border: 1px solid #a1581d;
  background-color: #a1581d;
  color: #fff;
  -webkit-transition: color .4s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
  transition: color .4s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
}

.form-minor:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #603511;
  background-color: #603511;
  color: #fff;
}
/*# sourceMappingURL=web-style.css.map */